.question {
  width: 100vw;
  height: 100vh;
  background: url("https://i.ibb.co/2vtRrR8/pexels-erik-mclean-4751193.jpg")
    center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.q-container {
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1.5rem 1rem;
  border-radius: 5px;
}

.score {
  width: 650px;
  height: 320px;
  background: linear-gradient(to right, #d25778, #ec585c, #e7d155, #56a8c6);
  border-radius: 25px;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  box-shadow: rgb(37, 35, 35) 10px 20px 20px -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-container {
  width: 98%;
  height: 97%;
  border-radius: 25px;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.score h3 {
  text-transform: uppercase;
}
.score span {
  font-size: 4rem;
  color: teal;
}
.again-btn {
  margin-top: 50px;
  outline: none;
  border: none;
  padding: 1rem 3rem;
  background-color: teal;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.userName {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
}
.userName p {
  margin-left: 10px;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
.userName img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.question-count {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: teal;
}
.question-count span {
  font-size: 3rem;
}
.question-text {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  font-weight: 600;
}
.answer-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.answer-btn {
  margin-top: 20px;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease-out;
}
.answer-btn:hover {
  background-color: teal;
  color: white;
}

@media only screen and (max-width: 800px) {
  .q-container {
    min-width: 80vw;
    padding: 2rem 1.5rem;
  }

  .userName p {
    font-size: 1rem;
  }
  .userName img {
    width: 40px;
    height: 40px;
  }
  .question-count {
    font-size: 1rem;
    margin-top: 35px;
  }
  .question-count span {
    font-size: 2rem;
  }
  .question-text {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .answer-btn {
    padding: 10px 20px;
    font-size: 0.75rem;
  }
  .score {
    width: 90vw;
    height: 40vh;
    font-size: 1.5rem;
  }

  .score span {
    font-size: 2rem;
  }
  .again-btn {
    padding: 0.5rem 1.5rem;
  }
}
